<form class="d-flex justify-content-center" method="post" action='@Url.Action()'>
   <div class="row cuadrado-subir">
        <div class="col-8"> 
<input type="text" class="form-control form-subir" name="nombre" placeholder="¿Que querés subir?" size="30">
<input type="submit" class="btn btn-primary" value="Aceptar">
</div>
</div>
</form>
<div class="d-flex justify-content-center">
    <div class="cuadrado"> 
        <div class="comentario">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/River_plate_logo_2022.svg/1200px-River_plate_logo_2022.svg.png" id="Perfil"/>
        <h2>GallinaAMorir</h2>
        <h5>Con todo el respeto que les tengo son el peor equipo que vi en mi vida, fui ciego por un accidente durante 6 meses y era mejor que ver esto</h5>
        </div>
        <div class="comentario">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/River_plate_logo_2022.svg/1200px-River_plate_logo_2022.svg.png" id="Perfil"/>
        <h2>GallinaAMorir</h2>
        <h5>Con todo el respeto que les tengo son el peor equipo que vi en mi vida, fui ciego por un accidente durante 6 meses y era mejor que ver esto</h5>
        </div>
    </div>
</div>

