
<div class="d-flex justify-content-center-30%">
    <div class="cuadrado"> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/River_plate_logo_2022.svg/1200px-River_plate_logo_2022.svg.png" id="Perfil"/>
        <h2>GallinaAMorir</h2>
        <h5>Con todo el respeto que les tengo son el peor equipo que vi en mi vida, fui ciego por un accidente durante 6 meses y era mejor que ver esto</h5>
    </div>
</div>

<div class="d-flex justify-content-center-30%">
    <div class="cuadrado"> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/River_plate_logo_2022.svg/1200px-River_plate_logo_2022.svg.png" id="Perfil"/>
        <h2>GallinaAMorir</h2>
        <h5>Con todo el respeto que les tengo son el peor equipo que vi en mi vida, fui ciego por un accidente durante 6 meses y era mejor que ver esto</h5>
    </div>
</div>

<div class="d-flex justify-content-30%">
    <div class="cuadrado"> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/River_plate_logo_2022.svg/1200px-River_plate_logo_2022.svg.png" id="Perfil"/>
        <h2>GallinaAMorir</h2>
        <h5>Con todo el respeto que les tengo son el peor equipo que vi en mi vida, fui ciego por un accidente durante 6 meses y era mejor que ver esto</h5>
    </div>
</div>
