@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Lo más destacado</h1>
    <div class="row">
        <div class="col-5">
            <h2>Mejores partidos</h2>
            <table class="table  table-dark">
                <thead>
                    <tr>
                        <th scope="col-1" class="th-mp">River</th>
                        <th scope="col-1" class="th-mp">0</th>
                        <th scope="col-1" class="th-mp">0</th>
                     <th scope="col-1" class="th-mp">Boca</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col-1" class="th-mp">Central</th>
                        <th scope="col-1" class="th-mp">0</th>
                        <th scope="col-1" class="th-mp">0</th>
                     <th scope="col-1" class="th-mp">Newell´s</th>
                    </tr>
                    <tr>
                        <th scope="col-1" class="th-mp">Gimnasia</th>
                        <th scope="col-1" class="th-mp">0</th>
                        <th scope="col-1" class="th-mp">0</th>
                     <th scope="col-1" class="th-mp">Estudiantes</th>
                    </tr>
                    <tr>
                        <th scope="col-1" class="th-mp">Velez</th>
                        <th scope="col-1" class="th-mp">0</th>
                        <th scope="col-1" class="th-mp">0</th>
                     <th scope="col-1" class="th-mp">Huracan</th>
                    </tr>
                </tbody>
            </table>
        </div>
    
    <div class="col-5">
        <h2>Goleadores</h2>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col" class="th-tablas">#</th>
                    <th scope="col" class="th-tablas">Jugador</th>
                    <th scope="col" class="th-tablas">Goles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="th-tablas">1</th>
                    <td class="th-tablas">Retegui</td>
                    <td class="th-tablas">19</td>
                </tr>
                <tr>
                    <th scope="row" class="th-tablas">2</th>
                    <td class="th-tablas"> Copetti</td>
                    <td class="th-tablas">11</td>
                </tr>
                <tr>
                    <th scope="row" class="th-tablas">3</th>
                    <td class="th-tablas">Borja</td>
                    <td class="th-tablas">9</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<h3>Mejores jugadas</h3>
<div class="row">
    <div class="col-4">
        <div class="cuadTxtCont">
            <iframe width="100%" height="230vh" src="https://www.youtube.com/embed/BpiYAAXfVCU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="col-4">
        <div class="cuadTxtCont">

            <iframe width="100%" height="230vh" src="https://www.youtube.com/embed/wjUvn8xpYzo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            <p>&nbsp;</p>
        </div>
    </div>
    <div class="col-4">
        <div class="cuadTxtCont">

            <iframe width="100%" height="230vh" src="https://www.youtube.com/embed/XCuRE7jToNg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            <p>&nbsp;</p>
        </div>
    </div>
</div>



</div>
