@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Lo más destacado</h1>
    <div class="row">
        <div class="col-5">
            <h2>Partidos de la fecha</h2>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col-1">River</th>
                        <th scope="col-1">0</th>
                        <th scope="col-1">0</th>
                     <th scope="col-1">Boca</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col-1">Central</th>
                        <th scope="col-1">0</th>
                        <th scope="col-1">0</th>
                     <th scope="col-1">Newell´s</th>
                    </tr>
                    <tr>
                        <th scope="col-1">Gimnasia</th>
                        <th scope="col-1">0</th>
                        <th scope="col-1">0</th>
                     <th scope="col-1">Estudiantes</th>
                    </tr>
                    <tr>
                        <th scope="col-1">Velez</th>
                        <th scope="col-1">0</th>
                        <th scope="col-1">0</th>
                     <th scope="col-1">Huracan</th>
                    </tr>
                </tbody>
            </table>
        </div>
    
    <div class="col-5">
        <h2>Goleadores</h2>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Jugador</th>
                    <th scope="col">Goles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Retegui</td>
                    <td>19</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Copetti</td>
                    <td>11</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Borja</td>
                    <td>9</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<h3>Mejores jugadas</h3>
<div class="row">
    <div class="col-4">
        <div class="cuadTxtCont">
            <iframe width="100%" height="230vh" src="https://www.youtube.com/embed/BpiYAAXfVCU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="col-4">
        <div class="cuadTxtCont">

            <iframe width="100%" height="230vh" src="https://www.youtube.com/embed/wjUvn8xpYzo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            <p>&nbsp;</p>
        </div>
    </div>
    <div class="col-4">
        <div class="cuadTxtCont">

            <iframe width="100%" height="230vh" src="https://www.youtube.com/embed/XCuRE7jToNg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            <p>&nbsp;</p>
        </div>
    </div>
</div>



</div>
