@{
    ViewData["Title"] = "Partidos";
}


<form class="d-flex justify-content-center " method="post" action='@Url.Action()'>
   <div class="row cuadrado-form">
        <div class="col-8"> 
            <h6 class="h6-is">Ingrese nombre de usuario</h6>
    
<input type="text" name="nombre" placeholder="Ingrese nombre de usuario" size="30">
<h6 class="h6-is">Ingrese Contraseña</h6>
<input type="text" name="nombre" placeholder="Ingrese nombre de usuario" size="30">

<input type="submit" value="Aceptar">
</div>
</div>
</form>