@{
    ViewData["Title"] = "Partidos";
}

<div class="text-center">
    <div class="row">
        <h1>Partidos de la fecha</h1>

            
                @foreach (Partido item in ViewBag.ListarPartidos)
                {
                    <div class="col-2">
                    <table class="table content-center table-dark ">
                    <thead>
                        <tr>
                            <th scope="col-1" class="th-equipo">River</th>
                            <th scope="col-1" class="th-equipo">0</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-equipo">
                            <th scope="col-1" class="th-equipo">Boca</th>
                            <th scope="col-1" class="th-equipo">0</th>
                        </tr>
                    </tbody>
                </table>
                </div>
                }



    </div>





</div>
