@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-5">
            <h2>Tabla</h2>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col-1" class="th-tablas"></th>
                        <th scope="col-1" class="th-tablas">PJ</th>
                        <th scope="col-1" class="th-tablas">DG</th>
                     <th scope="col-1" class="th-tablas">PTS</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col-1" class="th-tablas">Central</th>
                        <th scope="col-1" class="th-tablas">27</th>
                        <th scope="col-1" class="th-tablas">15</th>
                     <th scope="col-1" class="th-tablas">4</th>
                    </tr>
                    <tr>
                        <th scope="col-1" class="th-tablas">Gimnasia</th>
                        <th scope="col-1" class="th-tablas">27</th>
                        <th scope="col-1" class="th-tablas">32</th>
                     <th scope="col-1" class="th-tablas">3</th>
                    </tr>
                    <tr>
                        <th scope="col-1" class="th-tablas">Velez</th>
                        <th scope="col-1" class="th-tablas">27</th>
                        <th scope="col-1" class="th-tablas">-53</th>
                     <th scope="col-1" class="th-tablas">2</th>
                    </tr>
                </tbody>
            </table>
        </div>
    
    <div class="col-5">
        <h2>Goleadores</h2>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col" class="th-tablas">#</th>
                    <th scope="col" class="th-tablas">Jugador</th>
                    <th scope="col" class="th-tablas">Goles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="th-tablas">1</th>
                    <td class="th-tablas">Retegui</td>
                    <td class="th-tablas">19</td>
                </tr>
                <tr>
                    <th scope="row" class="th-tablas">2</th>
                    <td class="th-tablas"> Copetti</td>
                    <td class="th-tablas">11</td>
                </tr>
                <tr>
                    <th scope="row" class="th-tablas">3</th>
                    <td class="th-tablas">Borja</td>
                    <td class="th-tablas">9</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>



</div>
