html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;

}

body {
  margin-bottom: 60px;
  background-color: rgb(15, 15, 15);

}

table,
td,
th {
  border: 1px solid beige;
}

.cuadrado {
  width: 90%;
  background: rgb(32, 32, 32);
  border: 3px solid rgb(85, 85, 85);
  margin-bottom: 3px;
}

.blanco{
  color: aliceblue
}
h2,
h3,
h4,
h5,
a {
  color: aliceblue;
}

#Perfil {
  width: 3%;
}

.barra {
  background-color: rgb(34, 34, 34) !important;
}

.th-equipo {
  border: 0;

}

table {
  border-radius: 10px;

}

tr {
  border-radius: 10em;

}

.submenu {
  display: none;
  position: absolute;
}

.linkprod:hover~.submenu {
  display: block;
}

.th-tablas {
  border-top-color: rgba(255, 0, 0, 0);
  border-right-color: rgba(255, 0, 0, 0);
  border-bottom-color: rgba(179, 179, 179, 0.493);
  border-left-color: rgba(255, 0, 0, 0);
}

.dropdown-item:hover {
  background-color: white;
  color: black !important;
}

.th-mp {
  border-top-color: rgba(255, 0, 0, 0);
  border-right-color: rgba(255, 0, 0, 0);
  border-bottom-color: rgba(179, 179, 179, 0.493);
  border-left-color: rgba(255, 0, 0, 0);
}

.persona {
  color: aqua !important;
}

.h6-is{
  color: rgba(214, 214, 214, 0.767);
}

.cuadrado-form {
  width: 30%;
  background: rgb(32, 32, 32);
  margin-bottom: 3px;
}

.cuadrado-subir {
  width: 90%;
  background: rgb(32, 32, 32);
  border: 3px solid rgb(85, 85, 85);
  margin-bottom: 3px;
}

.form-subir {
  color: white !important;
  background-color: transparent !important;
}

.comentario {

  border-bottom: 1px solid rgb(85, 85, 85);
}

.imgnom {
  display: flex;
  flex-direction: row;
}

.form-subir {
  border-color: transparent;
}

.boton-sesion {
  background-color: transparent;
  border-color: transparent;
}

#imgusuario {
  height: 40px;
  border-radius: 100%;
  border: 3px solid;
  border-color:coral;
  cursor: pointer;
}
.imgpost{
  height: 4rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 100%;
  border: 3px solid;
  border-color:coral;
  cursor: pointer;
}

.rowpost{
  margin-top: 0.5rem;
}

#nombreusuario {
  text-align: center;
  color: coral;
}

.table-center{
  vertical-align: middle;
}

.eliminarpost{
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.subirpost{
  margin-bottom: 1rem;
  width: 100%;
}

.tituloposts{
  display: flex;
  justify-content: center;
}

.fechacreacionpost{
  color: white !important;
}