html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  
}

body {
  margin-bottom: 60px;
  background-color: black !important;

}
table,td,th {
	border: 1px solid beige;
}
.cuadrado {
  width: 900%;          
  background: rgb(133, 133, 133);       
  border: 1px solid rgb(85, 85, 85);
  margin-bottom: 3px;
}
h1,h2,h3,h4,h5,a{
  color: aliceblue !important;
}
#Perfil{
  width: 3%;
  
}
.barra{
  background-color: rgb(34, 34, 34) !important;
}

.th-equipo{
  border: 0;

}
table{
  border-radius: 10px;

  }
  tr{
    border-radius: 10em;
    
  }
 
    .submenu{
       display: none;
       position: absolute;
     }
     
     .linkprod:hover ~ .submenu {
       display: block;
     }
     .th-tablas{
      border-top-color: rgba(255, 0, 0, 0);
      border-right-color: rgba(255, 0, 0, 0);
      border-bottom-color: rgba(179, 179, 179, 0.493);
      border-left-color: rgba(255, 0, 0, 0);   
    }

    .dropdown-item:hover
    {
      background-color: white;
      color: black !important;
    }
    .th-mp{
      border-top-color: rgba(255, 0, 0, 0);
      border-right-color: rgba(255, 0, 0, 0);
      border-bottom-color: rgba(179, 179, 179, 0.493);
      border-left-color: rgba(255, 0, 0, 0);   
    }
    .persona{
      color: aqua !important;
    }