html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  
}

body {
  margin-bottom: 60px;
  background-color: rgb(15, 15, 15) !important;

}
table,td,th {
	border: 1px solid beige;
}
.cuadrado {
  width: 90%;          
  background: rgb(32, 32, 32);       
  border-right: 1px solid rgb(85, 85, 85);
  border-left: 1px solid rgb(85, 85, 85);
  margin-bottom: 3px;
}
h1,h2,h3,h4,h5,a{
  color: aliceblue !important;
}
#Perfil{
  width: 3%;
  
}
.barra{
  background-color: rgb(34, 34, 34) !important;
}

.th-equipo{
  border: 0;

}
table{
  border-radius: 10px;

  }
  tr{
    border-radius: 10em;
    
  }
 
    .submenu{
       display: none;
       position: absolute;
     }
     
     .linkprod:hover ~ .submenu {
       display: block;
     }
     .th-tablas{
      border-top-color: rgba(255, 0, 0, 0);
      border-right-color: rgba(255, 0, 0, 0);
      border-bottom-color: rgba(179, 179, 179, 0.493);
      border-left-color: rgba(255, 0, 0, 0);   
    }

    .dropdown-item:hover
    {
      background-color: white;
      color: black !important;
    }
    .th-mp{
      border-top-color: rgba(255, 0, 0, 0);
      border-right-color: rgba(255, 0, 0, 0);
      border-bottom-color: rgba(179, 179, 179, 0.493);
      border-left-color: rgba(255, 0, 0, 0);   
    }
    .persona{
      color: aqua !important;
    }

    button{
  color: inherit !important;
}
.h6-is{
  color: rgba(214, 214, 214, 0.767);
}

.cuadrado-form {
  width: 30%;          
  background: rgb(32, 32, 32);       
  margin-bottom: 3px;
}
.cuadrado-subir{
  width: 90%;          
  background: rgb(32, 32, 32);  
  border-bottom: 1px solid rgb(85, 85, 85);
  border-right: 1px solid rgb(85, 85, 85);
  border-left: 1px solid rgb(85, 85, 85);
  margin-bottom: 3px;
}
.form-subir{
  color: white;
  background-color: transparent !important;
  
}
.comentario{
  
  border-bottom: 1px solid rgb(85, 85, 85);
}
.imgnom{
  display: flex;
  flex-direction: row;
}
.form-subir{
  border-color: transparent;}

.boton-sesion{
  background-color:transparent;
  border-color: transparent;
}

#imgusuario{
  height: 3rem;
}

#nombreusuario{
  color: coral;
}