USE [master]
GO
/****** Object:  Database [DBFutbol]    Script Date: 30/11/2022 12:07:35 ******/
CREATE DATABASE [DBFutbol]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBFutbol', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBFutbol.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBFutbol_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBFutbol_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBFutbol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBFutbol]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 30/11/2022 12:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[IdEquipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Escudo] [varchar](50) NULL,
	[Pos] [int] NOT NULL,
	[Pts] [int] NOT NULL,
	[PJ] [int] NULL,
	[DG] [int] NULL,
 CONSTRAINT [PK_Equipos] PRIMARY KEY CLUSTERED 
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquiposxPartidos]    Script Date: 30/11/2022 12:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquiposxPartidos](
	[IdEquipoxPartido] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipo] [int] NOT NULL,
	[IdPartido] [int] NOT NULL,
	[Local] [bit] NULL,
 CONSTRAINT [PK_EquiposxPartidos] PRIMARY KEY CLUSTERED 
(
	[IdEquipoxPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 30/11/2022 12:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[IdJugador] [int] IDENTITY(1,1) NOT NULL,
	[NombreApellido] [varchar](50) NOT NULL,
	[Goles] [int] NOT NULL,
	[Asistencias] [int] NOT NULL,
	[IdEquipo] [int] NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[IdJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidos]    Script Date: 30/11/2022 12:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidos](
	[IdPartido] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [int] NULL,
	[Horario] [datetime] NOT NULL,
	[GolesLocal] [int] NULL,
	[GolesVisitante] [int] NULL,
 CONSTRAINT [PK_Partidos] PRIMARY KEY CLUSTERED 
(
	[IdPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 30/11/2022 12:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[IdPost] [int] IDENTITY(1,1) NOT NULL,
	[TextoPost] [varchar](50) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Foto] [varchar](300) NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[IdPost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/11/2022 12:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Foto] [varchar](500) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Equipos] ON 

INSERT [dbo].[Equipos] ([IdEquipo], [Nombre], [Escudo], [Pos], [Pts], [PJ], [DG]) VALUES (1, N'Boca Juniors', NULL, 1, 12, 4, 8)
INSERT [dbo].[Equipos] ([IdEquipo], [Nombre], [Escudo], [Pos], [Pts], [PJ], [DG]) VALUES (2, N'River', NULL, 2, 9, 4, 6)
INSERT [dbo].[Equipos] ([IdEquipo], [Nombre], [Escudo], [Pos], [Pts], [PJ], [DG]) VALUES (3, N'Independiente', NULL, 3, 6, 4, 2)
SET IDENTITY_INSERT [dbo].[Equipos] OFF
GO
SET IDENTITY_INSERT [dbo].[EquiposxPartidos] ON 

INSERT [dbo].[EquiposxPartidos] ([IdEquipoxPartido], [IdEquipo], [IdPartido], [Local]) VALUES (1, 1, 1, 1)
INSERT [dbo].[EquiposxPartidos] ([IdEquipoxPartido], [IdEquipo], [IdPartido], [Local]) VALUES (2, 2, 1, 0)
INSERT [dbo].[EquiposxPartidos] ([IdEquipoxPartido], [IdEquipo], [IdPartido], [Local]) VALUES (3, 3, 2, 1)
SET IDENTITY_INSERT [dbo].[EquiposxPartidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([IdJugador], [NombreApellido], [Goles], [Asistencias], [IdEquipo]) VALUES (1, N'Sebastian Villa', 7, 6, 1)
INSERT [dbo].[Jugadores] ([IdJugador], [NombreApellido], [Goles], [Asistencias], [IdEquipo]) VALUES (2, N'Armani', 45, 97, 2)
INSERT [dbo].[Jugadores] ([IdJugador], [NombreApellido], [Goles], [Asistencias], [IdEquipo]) VALUES (4, N'Vallejo', 7, 3, 3)
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Partidos] ON 

INSERT [dbo].[Partidos] ([IdPartido], [Fecha], [Horario], [GolesLocal], [GolesVisitante]) VALUES (1, 1, CAST(N'2022-08-27T15:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Partidos] ([IdPartido], [Fecha], [Horario], [GolesLocal], [GolesVisitante]) VALUES (2, 1, CAST(N'2022-08-27T18:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Partidos] ([IdPartido], [Fecha], [Horario], [GolesLocal], [GolesVisitante]) VALUES (3, 2, CAST(N'2022-09-03T15:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Partidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Contraseña], [Foto]) VALUES (1, N'Axel pro', N'123', N'yoBUENA.png')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
